{% extends 'base.html' %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/about.css' %}"/>
{% endblock css %}

{% block content %}


<div class="general">
    <section class=section-main id="ABOUT">
        <h1><b>ABOUT</b></h1>
        <h3 class="table_contents">Table of contents</h3>
        <h4>
            <ul class=list-content-main>
                <li class="element-list"><a href="#Input">1. Input and options</a>
                    <ul class=list-content>
                        <li class="element-list"><a href="#Select">1.1. Select options</a></li>
                        <li class="element-list"><a href="#Fix">1.2. Fix structure</a></li>
                        <li class="element-list"><a href="#Assembly">1.3. Biological Assembly</a></li>
                        <li class="element-list"><a href="#Download">1.4. Download structure files</a></li>
                        <li class="element-list"><a href="#Project">1.5. Project list</a></li>
                    </ul>
                </li>
                <li class="element-list"><a href="#Diagram">2. Diagram View</a>
                </li>
                <li class="element-list"><a href="#Map">3. Map View</a>
                    <ul class=list-content>
                        <li class="element-list"><a href="#Basic">3.1. Basic options</a></li>
                        <li class="element-list"><a href="#Filters">3.2. Contact filters</a></li>
                        <li class="element-list"><a href="#1D_data">3.3. Displaying 1D data</a></li>
                        <li class="element-list"><a href="#Generating">3.4. Generating map images</a></li>
                        <li class="element-list"><a href="#Molstar">3.5. Interaction of Maps with Molstar molecular visualization</a></li>
                        <li class="element-list"><a href="#Text">3.6. Downloading data in text format</a></li>
                    </ul>
                </li>
                <li class="element-list"><a href="#Case">4. Case studies</a>
                    <ul class=list-content>
                        <li class="element-list"><a href="#Polymerase">4.1. Human DNA polymerase</a></li>
                        <li class="element-list"><a href="#TRAP-RNA">4.2. TRAP-RNA complex</a></li>
                        <li class="element-list"><a href="#RNA-dep">4.3. RNA-dependent polymerase (RdRp)</a></li>
                    </ul>
                </li>
                <li class="element-list"><a href="#Hints">5. Mapiya analysis hints and protocols</a>
                    <ul class=list-content>
                        <li class="element-list"><a href="#Chains">5.1. Renaming or merging biomolecule chains</a></li>
                    </ul>
                </li>
            </ul>
        </h4>
        <h5 class="intro"><b>Proteins can interact multivalently with a myriad of various biomolecules,
            including other proteins and nucleic acids. The strength and physicochemical character of intermolecular
            contacts between these complex systems is a driving force of signaling or regulatory processes, while the
            identification of these contacts in the available 3D structures is essential for biomedical and biotechnological
            applications. Mapiya web service offers a highly customized analysis of the molecular interactions in biological
            systems using contact maps, molecular visualization, and various structure- and sequence-based analyses.
        </b></h5>
    </section>
    <section class=section-paper>
        <div class="text-paper">
        <h2 class="paper-subtitle"><b>Paper and methodology</b></h2>
        <h4>The paper describing the Mapiya web service is:
            <h5>Badaczewska-Dawid AE et al. MAPIYA contact map server for identification and visualization of molecular interactions
                in proteins and biological complexes, submitted, 2022</h5>
        </h4>
        </div>
    </section>
    <div class="main-content">
    <section class=section-main id="Input">
        <h2 class="mapiya-subtitle"><b>Mapiya analysis of biomolecular interactions</b></h2>
        <h3><b>1. Input and options</b></h3>
        <h5>The main Mapiya page allows providing input structure along with several options.</h5>
        <ul class="list-unstyled">
            <li><section class=section-sub id="Select">
                <h4><b>1.1. Select options</b></h4>
                <h5>The first panel “Select options” contains the following basic options:
                    <ul>
                        <li><i class="sc">Contact cutoff</i> – User sets the value for contact cutoff (in angstrom [Å]). The distance between the
                        two closest heavy atoms in two different residues is considered contact if it is below the contact cutoff
                        value. In the project view for a particular file, the user can later change this value and display contact
                        maps for the changed contact cutoff.</li>
                        <li><i class="sc">Protonation pH</i> – The user sets the value for pH of the modeled environment. The value can range between 0 and 14.
                        The protonation pH is used to define the environmental conditions for structure repair with PDBFixer (e.g., selecting the protonation
                        state of a residue when adding hydrogens or adding environment) and electrostatic analysis performed with
                        APBS (e.g., calculating electrostatic potential). The value can range between 0 and 14, with the default set up to 7.
                        The protonation pH can be adjusted only before submitting the job to a queue, i.e., before the computationally
                        extensive step of Mapiya’s analyses. If a change of the pH value is needed, the user should create a new Mapiya project.</li>
                    </ul>
                    The Advanced options include:
                    <ul>
                        <li><i class="sc">Calculate hydrogen bonds</i> – If this option is checked, Mapiya calculates hydrogen bonds using EDHB
                        (<a href="https://github.com/ekraka/EDHB">https://github.com/ekraka/EDHB</a>).
                        <br>Note: The structure has to have hydrogens to calculate hydrogen bonds.</li>
                        <li><i class="sc">Calculate secondary structure</i> – If his option is checked, Mapiya calculates secondary structure using
                        STRIDE (<a href="http://webclu.bio.wzw.tum.de/stride/">http://webclu.bio.wzw.tum.de/stride</a>).</li>
                        <li><i class="sc">Calculate electrostatics</i> – If this option is checked, Mapiya calculates electrostatics using
                        Adaptive Poisson-Boltzmann Solver (APBS) software (<a href="https://github.com/Electrostatics/VR">https://github.com/Electrostatics/VR</a>).</li>
                    </ul>
                    <div><img class="img-fluid" src="{% static 'img/about-select.png' %}"/></div>
                </h5>
            </section></li>
            <li><section class=section-sub id="Fix">
                <h4><b>1.2. Fix structure</b></h4>
                <h5>The second "Fix structure" panel contains input options for PDBFixer (<a href="https://github.com/openmm/pdbfixer">https://github.com/openmm/pdbfixer</a>).
                    PDBFixer is an encapsulated application that makes it easy to use the functionality provided by OpenMM, a comprehensive molecular dynamics simulation toolkit.
                    We chose this software because of its
                    <ul class="list-unstyled">
                        <li><i class="">(i) transferability,</i></li>
                        <li><i class="">(ii) extensibility,</i></li>
                        <li><i class="">(iii) ability to efficiently use computing power (CPU and GPU),</i></li>
                        <li><i class="">(iv) flexible adaptation for various modeling tools (e.g., Amber, CHARMM, Gromacs, Desmond).</i></li>
                    </ul>
                    To fix the structure, the OpenMM Modeller class is used, which invokes various predefined functions for corresponding issues.
                    The molecular topology loaded from the PDB file is used to create a complete mathematical description of the system, including
                    creating residue templates based on the contents. Missing atoms are added based on templates for standard residues. In particular,
                    the added hydrogens correspond to the protonation state of the residue for the selected pH. The missing residues are reconstructed
                    geometrically along the arch connecting the ends of the break. To eliminate steric clashes, the topology is further optimized with the
                    LocalEnergyMinimizer class, using the L-BFGS algorithm (harmonic restraining force) and Langevin integrator. It is also possible to add
                    a solvent, either water or a lipid membrane. When the user decides on the type of solvent (Fix structure section, ‘add environment’ option),
                    an additional set of options will appear. In both cases, the user needs to select the values of the following options: positive ion, negative
                    ion, and ionic strength. Then, the water box is created based on the user-provided solvent box dimensions, ensuring that no water
                    molecule comes closer to another atom than the sum of their van der Waals radii. With an alternative choice, the membrane is formed
                    based on the selected lipid type and entered membrane position in the XY plane. In this method, in addition to the membrane, solvent
                    and ions are added simultaneously so that the lipid head groups are properly solvated. In the water environment, the system is
                    re-optimized using the 'amber14-all' and 'amber14/tip3p' force fields, otherwise, the 'soft' variant is used.
                    <br>The options available in this section are:
                    <ul>
                        <li><i class="sc">Add atoms</i> &ndash; This option enables users to add missing atoms to the structure. The available options are: all, heavy, standard, terminal, hydrogen and none. The default option is all.</li>
                        <li><i class="sc">Add residues</i> &ndash; This option enables users to add missing residues to the structure. If the residues are to be added, the user has to specify the maximal length of inserted loops. The available options are: all, internal, terminal, none. The default option is all.</li>
                        <li><i class="sc">Keep heterogens</i> &ndash; This option enables users to keep heterogeneous atoms from being removed. The available options for heterogens to be kept are: all, water, none. The default option is none.</li>
                        <li><i class="sc">Replace non-standard aa</i> &ndash; This option enables users to replace all non-standard amino acids in the structure for their standard equivalents. The default option is yes.</li>
                        <li><i class="sc">Apply mutations</i> &ndash; This option enables users to apply mutations in the structure. The input is in form: three-letter amino acid code for an original residue - index of a residue that is being replaced - three-letter amino acid code for a mutated residue : protein chain id. For example VAL-7-ILE:A will mutate valine 7 into isoleucine in chain A. The multiple mutations may be entered, separted by comma.</li>
                        <li><i class="sc">Add environment</i> &ndash; This option enables users to add an environment to a modeled project. The available options are: none, solvent, membrane.
                        <br>To add solvent user has to specify:
                            <ul>
                            <li>type of positive ion,</li>
                            <li>type of negative ion,</li>
                            <li>ionic strength,</li>
                            <li>water box &ndash; unit cell, max size, or custom.</li>
                            </ul>
                        To add membrane user has to specify:
                            <ul>
                            <li>type of positive ion,</li>
                            <li>type of negative ion,</li>
                            <li>ionic strength,</li>
                            <li>lipid type,</li>
                            <li>membrane position (the position along the Z axis at which the center of the membrane will be located) and minimum padding (the minimum acceptable distance between the protein and the edges of the periodic box).</li>
                            </ul>
                        The default option is none.
                        </li>
                    </ul>
                    <br><div><img class="img-fluid" src="{% static 'img/about-fix.png' %}"/></div>
                </h5>
            </section></li>
            <li><section class=section-sub id="Assembly">
                <h4><b>1.3. Biological assembly</b></h4>
                <h5>For structures solved by X-ray diffraction, the PDB formatted files contain only the asymmetric unit and
                    this may or may not be the same as the biologically relevant structure. An asymmetric unit may contain:
                    a) one biological assembly, b) a fraction of the biological assembly or c) more than one biological assembly.
                    Mapiya allows users to generate biological assemblies. On the main page, under the third tab, users can select
                    the option <i class="sc">Create separate projects for each biological assembly</i>.
                   <div><img class="img-fluid" src="{% static 'img/about-assembly.png' %}"/></div>
                    The ‘REMARK 300’ in the PDB file is read to determine the number of biological assemblies that need to
                    be generated for the PDB file submitted by the user. An example of REMARK 300 from the PDB ID <a href="https://www.rcsb.org/structure/3HL2">3HL2</a> is provided below:
                    <p class=pdb>
                        REMARK 300 BIOMOLECULE: 1, 2
                        <br>REMARK 300 SEE REMARK 350 FOR THE AUTHOR PROVIDED AND/OR PROGRAM
                        <br>REMARK 300 GENERATED ASSEMBLY INFORMATION FOR THE STRUCTURE IN
                        <br>REMARK 300 THIS ENTRY. THE REMARK MAY ALSO PROVIDE INFORMATION ON
                        <br>REMARK 300 BURIED SURFACE AREA.
                        <br>REMARK 300 REMARK: THE PHYSIOLOGICALLY ACTIVE TETRAMERIC ASSEMBLY CAN BE
                        <br>REMARK 300 RECONSTRUCTED BY APPLYING THE FOLLOWING SYMMETRY OPERATION ONTO THE
                        <br>REMARK 300 CHAINS A AND B, AND THE CONFORMER A OF THE CHAIN E: X, X-Y, -Z (0 -
                        <br>REMARK 300 1 0). SIMILARLY, THE PHYSIOLOGIC TETRAMER CAN BE BUILT BY APPLYING
                        <br>REMARK 300 THE SYMMETRY OPERATION ONTO THE CHAINS C AND D, AND THE CONFORMER B
                        <br>REMARK 300 OF THE CHAIN E: -X+Y, Y, -Z+1/3 (0 0 0).
                    </p>
                    The ‘REMARK 350’  from the PDB file is read to determine the chains from each biological assembly and
                    to identify the corresponding ‘BIOMT’ matrices. The BIOMT matrices are transformation matrices, both
                    rotation and translation, when applied we can generate the full assembly. An example of REMARK 350 from
                    the PDB ID <a href="https://www.rcsb.org/structure/3HL2">3HL2</a> is shown below:
                    <p class=pdb>
                        REMARK 350
                        <br>REMARK 350 COORDINATES FOR A COMPLETE MULTIMER REPRESENTING THE KNOWN
                        <br>REMARK 350 BIOLOGICALLY SIGNIFICANT OLIGOMERIZATION STATE OF THE
                        <br>REMARK 350 MOLECULE CAN BE GENERATED BY APPLYING BIOMT TRANSFORMATIONS
                        <br>REMARK 350 GIVEN BELOW.  BOTH NON-CRYSTALLOGRAPHIC AND
                        <br>REMARK 350 CRYSTALLOGRAPHIC OPERATIONS ARE GIVEN.
                        <br>REMARK 350
                        <br>REMARK 350 BIOMOLECULE: 1
                        <br>REMARK 350 AUTHOR DETERMINED BIOLOGICAL UNIT: PENTAMERIC
                        <br>REMARK 350 APPLY THE FOLLOWING TO CHAINS: A, B
                        <br>REMARK 350   BIOMT1   1  0.500000  0.866025  0.000000           83.40900
                        <br>REMARK 350   BIOMT2   1  0.866025 -0.500000  0.000000         -144.46863
                        <br>REMARK 350   BIOMT3   1  0.000000  0.000000 -1.000000            0.00000
                        <br>REMARK 350 APPLY THE FOLLOWING TO CHAINS: A, B, E
                        <br>REMARK 350   BIOMT1   2  1.000000  0.000000  0.000000            0.00000
                        <br>REMARK 350   BIOMT2   2  0.000000  1.000000  0.000000            0.00000
                        <br>REMARK 350   BIOMT3   2  0.000000  0.000000  1.000000            0.00000
                        <br>REMARK 350
                        <br>REMARK 350 BIOMOLECULE: 2
                        <br>REMARK 350 AUTHOR DETERMINED BIOLOGICAL UNIT: PENTAMERIC
                        <br>REMARK 350 APPLY THE FOLLOWING TO CHAINS: C, D
                        <br>REMARK 350   BIOMT1   1 -1.000000  0.000000  0.000000            0.00000
                        <br>REMARK 350   BIOMT2   1  0.000000  1.000000  0.000000            0.00000
                        <br>REMARK 350   BIOMT3   1  0.000000  0.000000 -1.000000           78.77400
                        <br>REMARK 350 APPLY THE FOLLOWING TO CHAINS: C, D, E
                        <br>REMARK 350   BIOMT1   2  1.000000  0.000000  0.000000            0.00000
                        <br>REMARK 350   BIOMT2   2  0.000000  1.000000  0.000000            0.00000
                        <br>REMARK 350   BIOMT3   2  0.000000  0.000000  1.000000            0.00000
                    </p>
                    Using these remarks the biological assemblies for the molecule are generated. In the example above there
                    are two biological assemblies generated. For each of the assemblies, a new project is created by Mapiya.
                    Here in this example human SepSecS in complex with non acylated tRNASec (PDB ID: <a href="https://www.rcsb.org/structure/3HL2">3HL2</a>), the asymmetric
                    unit consists of four protein chains (chains A, B, C, D) and one RNA chain (chain E) as seen in the figure
                    below. The asymmetric unit contains crystallographic contacts which do not have biological significance.
                    <div><img class="img-fluid" src="{% static 'img/Assymetric_Unit.png' %}"/></div>
                    Using the REMARKS 300 and 350, we can generate two biological assemblies. The first assembly consists of
                    chains A, B, E from the asymmetric unit without modifications and chains C and D which are generated by
                    applying the BIOMT transformation matrix to original chains A and B  (see figure below).
                    <div><img class="img-fluid" src="{% static 'img/Biological_Assembly1.png' %}"/></div>
                    Similarly, the second assembly consists of chains C, D, and E from the asymmetric unit without applying
                    modifications,  and chains A and B which are generated by applying the BIOMT transformation matrix to
                    chains C and D from the asymmetric unit (see figure below).
                    <div><img class="img-fluid" src="{% static 'img/Biological_Assembly2.png' %}"/></div>
                </h5>
            </section></li>
            <li><section class=section-sub id="Download">
                <h4><b>1.4. Download structure files</b></h4>
                <h5>
                    In order to submit a project for calculation, the user either has to either submit a PDB file from
                    disk or enter PDB code to download the file from the <a href="https://www.rcsb.org/">RCSB database</a>. The PDB file cannot exceed 50 models.
                    There are two options to submit project:
                    <ul>
                        <li><i class="sc">Drop files here</i> – In order to submit a file the user has to drag and drop a file
                            located locally on a disk.</li>
                        <li><i class="sc">Download structures from the <b>rcsb.org</b></i> – In order to submit a file the user has to enter PDB code.
                            Mapiya downloads the structure from the RCSB database and submits the project for a calculation.</li>
                    </ul>
                    <div><img class="img-fluid" src="{% static 'img/about-download.png' %}"/></div>
                </h5>
            </section></li>
            <li><section class=section-sub id="Project">
                <h4><b>1.5. Project list</b></h4>
                <h5>
                    The list consists of every project submitted or calculated. Every entry consists of this information:
                    <ul>
                        <li><i class="sc">Project name</i> – This column displays the name of the project. After
                            calculation finishes, clicking on the name takes the user to the project view for that submitted file.
                            It can be changed by clicking 'Rename project' button on the right side of table.</li>
                        <li><i class="sc">Progress</i> – This column displays the state of a particular project. When the caption turns green,
                            it means the project has finished calculating.</li>
                        <li><i class="sc">Rename project</i> – This button enables users to rename projects.</li>
                        <li><i class="sc">Resubmit</i> – This button appears after the project has finished calculating. It enables users
                            to recalculate projects i.e. after changing options.</li>
                        <li><i class="sc">Delete</i> – This button enables the user to delete the project from the database and Project list.</li>
                    </ul>
                    <div><img class="img-fluid" src="{% static 'img/about-projects.png' %}"/></div>
                </h5>
            </section></li>
        </ul>
    </section>
    <section class=section-main id="Diagram">
        <h3><b>2. Diagram view</b></h3>
        <h5>When preliminary calculations (distance matrix and structural analysis) for a given project are ready, Mapiya
            loads the interaction diagram (see Figure below). In this view, Mapiya draws connections between molecules in
            a complex (objects located on the perimeter of a circle) with a ribbon thickness proportional to the number
            of contacts. The different chains of the macromolecule have distinct colors with correspondence between a
            circular diagram on the left side and the Molstar viewer on the right. Users can switch to the map view using
            options from the menu or interactively by clicking on the ribbon of interest. Selecting the ‘intramolecular’
            option or a bulge in the discrete color will load the internal contact map for the matching chain. Selecting
            the ‘intermolecular’ option or one of the gray ribbons will load the map of the contact interface between two
            molecules. When the submitted PDB has multiple models, the user can display the results for the particular
            model by clicking on the corresponding button at the top of the screen.
            <br>The Figure below shows an example interaction diagram view for the complex between trp RNA-binding attenuation
            protein (TRAP) and 55-mer single-stranded RNA (PDB ID: <a href="https://www.rcsb.org/structure/1c9s">1C9S</a>). The diagram shows that each of the eleven protein
            chains in the assembly interacts with two adjacent protein chains and the RNA.
            <div><img class="img-fluid" src="{% static 'img/Diagram_view1.png' %}"/></div>
            Another example below presents RNA recognition motif (RRM) domains of the cleavage factor IA and Hrp1 proteins,
            and a 14-mer RNA (PDB ID: <a href="https://www.rcsb.org/structure/2KM8">2KM8</a>). In this example, there are ten conformers available in the PDB file and we can
            navigate between them in Mapiya by clicking on the panel with model numbers (see Figure below, highlighted with a red box).
            <div><img class="img-fluid" src="{% static 'img/Diagram_view2.png' %}"/></div>
            Each chain from the selected model is colored with unique and distinct colors in the interaction diagram. The
            contact between the residues in different chains are shown as connections in the interaction diagram (on the left).
            On the right side, the selected model is rendered in three-dimensions in the Molstar viewer and the chains are colored
            in the same way as in the diagram. By default, Mapiya shows two representations of the molecule in 3D,
            using the cartoon and the Gaussian surface representation. The user can add additional representations supported by
            Molstar viewer. A detailed tutorial on the use of Molstar viewer and the different options available to the users
            can be found at: <a href="https://molstar.org/viewer-docs/common-actions/">Common actions - Molstar Viewer Documentation</a>
            and <a href="https://www.rcsb.org/docs/3d-viewers/mol*/getting-started">RCSB Molstar - getting started</a>.<br>
            <br>There is a red 'Show logs' button in the lower left corner. Logs can provide inside to why some calculations have not returned expected results. The users can display logs from calculations done by external software by clicking on the button.
            <div><img class="img-fluid" src="{% static 'img/about-show_logs.png' %}"/></div>
            The logs are divided in five categories:
            <ul>
                <li>PDBFixer</li>
                <li>EDHB</li>
                <li>APBS</li>
                <li>Stride</li>
                <li>All</li>
            </ul>
            <div><img class="img-fluid" src="{% static 'img/about-logs.png' %}"/></div>
        </h5>
    </section>
    <section class=section-main id="Map">
        <h3><b>3. Map</b></h3>
        <h5>To display the MapView, the user has to choose either Object (Intramolecular Map) or Interaction (Intermolecular
            Map) from the list. The two types of maps are:
        <ul>
            <li>The intramolecular map, shows the internal contacts of the selected object. These contacts stabilize the
                secondary structure and topology of a single domain.</li>
            <li>    The intermolecular map, shows the spatial contacts between two selected objects. These contacts
                define binding interfaces, stabilize the quaternary structure, and are important for function.</li>
        </ul>
        </h5>
        <ul class="list-unstyled">
           <li><section class=section-sub id="Basic">
               <h4><b>3.1. Basic options</b></h4>
               <h5>The MapView of the Mapiya web server consists of an interactive heatmap chart. The graph has three available display modes:
                   <ul>
                       <li><i class="sc">DM</i>, <i class="sc">Distance Map</i>, where the points are colored with a continuous color scale according to the
                           distance between corresponding residue pairs,</li>
                       <li><i class="sc">CM</i>, <i class="sc">Contact Map</i>, where the points are colored with a discrete (or smooth) color scale according
                           to the identified spatial contacts,</li>
                       <li><i class="sc">CM | DM</i>, where the chart is split into two triangles (this mode is available only for Intramolecular maps).</li>
                   </ul>
                   <div><img class="img-fluid" src="{% static 'img/about-figure2_a.png' %}"/></div>
                   Multiple <i class="sc">Color scales</i> are available for user convenience. Discrete (binary) color scales for <i class="sc">CM</i> mode
                   can be easily smoothed to continuous scales, making it easy to distinguish the strength of contacts by
                   distance of interacting residues. In <i class="sc">DM</i> and <i class="sc">CM | DM</i> mode, the color scale can also be reversed.
                   <br>There is also an option to change the distance <i class="sc">Cutoff</i> for contacts. After the contact cutoff value
                   has been changed, the map dynamically changes accordingly.
                   <br>The last option enables users to choose <i class="sc">Interactive structure coloring</i>. The structure can be colored
                   by default (the option none), by contacts, or by 1D features (the 1D features must be selected in
                   <i class="sc">Displaying 1D data</i> section below). The default option is none.
                   <div><img class="img-fluid" src="{% static 'img/about-figure2_bc.png' %}"/></div>
               </h5>
           </section></li>
            <li><section class=section-sub id="Filters">
                <h4><b>3.2 Contact filters</b></h4>
                <h5>Using <i class="sc">Filter contacts</i> options, you can cross-select contacts by properties or screen-out them by sequential
                    neighborhood. The user can highlight the protein-protein contacts stabilized by the selected interaction type.
                    This facilitates your discovery of the nature of the interaction.
                    <br>Specifically, the <i class="sc">Interaction filter</i> selects contacts by various physicochemical properties of interacting
                    residues. Note: Some contacts can be multivalent (e.g., have both charge and π-electrons) and can be
                    displayed for several force types (e.g., electrostatics and π-stacking). Each option in the <i class="sc">Interaction
                        filter</i> has its own tooltip.
                    <div><img class="img-fluid" src="{% static 'img/about-interaction.png' %}"/></div>
                    The available options include:
                    <ul>
                        <br><li><i class="sc">hydropathy: hydrophobic, hydrophilic, amphipathic</i><br>
                            <br>The hydropathy shows the hydrophobic (lacking affinity for water), amphipathic
                            (having both polar-water-soluble and nonpolar-not-water-soluble regions), and
                            hydrophilic (attracted to water) tendencies of the protein sequence.
                            <br>The hydrophobic (Φ) amino acids are: Gly, Ala, Leu, Ile, Val, Pro, Phe.
                            <br>The amphipathic (ɤ) amino acids are: Trp, Tyr, Met, Lys.
                            <br>The hydrophilic (ζ) amino acids are: Arg, Asn, Asp, Gln, Glu, His, Ser, Thr, Cys.
                        </li>
                        <br><li><i class="sc">electrostatics: ion-ion, ion-dipole, dipole-dipole</i><br>
                            <br>Electrostatics describes the interactions between charges. There is an attractive (A)
                            force between a positive ⊕ and a negative ⊖ charge, while two charges of the same sign repel
                            (R) each other. Point charges (monopoles) such as ions ⦿ , can also interact electrostatically
                            with dipoles (e.g polar groups, δ) and cause temporary charge shifts (induced dipoles) in neutral groups.
                            <br>Positively charged amino acids, ⊕ are: Arg, Lys, His.
                            <br>Negatively charged amino acids, ⊖ are: Glu, Asp.
                            <br>Polar amino acids, δ are: Ser, Thr, Tyr, Gln, Asn, Cys, Met.
                        </li>
                        <br><li><i class="sc">π-electron stacking: π-π, cation-π, anion-π, dipole-π</i><br>
                            <br>π–π stacking is an attractive, noncovalent interaction between aromatic rings, ⌬ , and/or
                            other π–electron-containing systems. Ion–π interaction is a noncovalent attractive interaction
                            between the electron-rich π-system (e.g. aromatic ring ⌬ or other π-bond) and an adjacent ion,
                            i.e., cation ⊕ or anion ⊖. The ion-π interactions are orientation-dependent. The two most
                            stable conformations are the parallel displaced and T-shaped.The stacking is also possible
                            between the π–electron-containing system and polar group or even C-H orbital.
                            <br>The aromatic amino acids, ⌬ are: Phe, Tyr, trp, His.
                            <br>The other systems with π–bond are: Arg, Asn, Asp, Gln, Glu, Gly*.
                        </li>
                        <br><li><i class="sc">hydrogen bonds (calculated using EDHB)</i><br>
                            <br>A hydrogen bond is a special type of dipole-dipole attraction, involving a hydrogen atom
                            located between a pair of highly electronegative atoms (having a high affinity for electrons).
                            Hydrogen bonds are calculated using EDHB. If the option is disabled, the process was unsuccessful.
                            <br>Amino acids that can be proton donors: Arg, Asn, Gln, His, Ser, Thr, Tyr, Trp, Cys, Lys.
                            <br>Amino acids that can be proton acceptors: Asn, Asp, Gln, Glu, His, Ser, Thr, Tyr.
                        </li>
                    </ul>
                    <br>Additionally, the <i class="sc">Intra-contact filter</i> removes local contacts between residues neighboring along the sequence.
                    As a result, the points along the diagonal of the intramolecular (internal) contact map are dropped.
                    The filter takes an integer n, which defines the number of amino acids (i, i+1, ..., i+n) along the sequence,
                    for which contacts are excluded.
                    <br>There is an option to display filtered contacts <i class="sc">Only</i>. This removes the other contacts from the background of the plot.
                </h5>
           </section></li>
            <li><section class=section-sub id="1D_data">
                <h4><b>3.3. Displaying 1D data</b></h4>
                <h5>Using <i class="sc">Display 1D data</i> options, you can add various one-dimensional features along the objects' sequence.
                    The residue-resolution bar-chart will be displayed on the right side parallel to the Y-, or on the top side
                    parallel to the X-axis. Note: Some contacts can be multivalent (e.g., have both charge and π-electrons)
                    thus such additional sequence- and structure-dependent data facilitate the comprehensive analysis of interactions contributions.
                    <br>The available options include:
                    <ul>
                        <li>various physicochemical properties,</li>
                        <li>amino acid composition,</li>
                        <li>secondary structure, calculated using STRIDE</li>
                        <li>solvent accessibility, calculated using STRIDE</li>
                        <li>Shannon entropy calculated on-the-fly</li>
                        <li>hydrogen bond donor/acceptor,</li>
                        <li>and more...</li>
                    </ul>
                    <br>Examples are presented in the Figure below.
                    <div><img class="img-fluid" src="{% static 'img/about-figure3.png' %}"/></div>
                </h5>
           </section></li>
            <li><section class=section-sub id="Generating">
                <h4><b>3.4. Generating map images</b></h4>
                <h5>The last section enables users to change some minor options of generating map images.
                    In the first option - <i class="sc">Change the chart title</i>, the user can enter a customized title that will display
                    above the chart. The second option - <i class="sc">Select image format</i>, provides the generated map image in either
                    vector (SVG) or raster (JPEG, PNG) graphics format.
                </h5>
           </section></li>
            <li><section class=section-sub id="Molstar">
                <h4><b>3.5. Interaction of Maps with Molstar molecular visualization</b></h4>
                <h5>In the map view, the user can select a particular contact between two residues by
                    clicking any points on the map loaded on the left half. When a point is clicked on the map, the
                    corresponding two residues are zoomed in and highlighted in the Molstar viewer. Here we illustrate this
                    with an example of ARG-198 in the Hrp1 protein (Chain C) and ARG-65 (Chain B) in the cleavage factor IA.
                    The two residues are at a distance of 4.654 Å and the distance cutoff is 8 Å. By design, the users are
                    also allowed to click on points, which are not within the distance cutoff, and the corresponding residues
                    will be highlighted on the Molstar viewer.
                    <div><img id="img-molstar1" class="img-fluid" src="{% static 'img/Interaction_of_Map_with_molstar1.png' %}"/></div>
                    <div><img class="img-fluid" src="{% static 'img/Interaction_of_Map_with_molstar2.png' %}"/></div>
                    In the basic menu available in the map view, Mapiya  provides three options under the <i class="sc">Interactive structure coloring</i>  option to provide interactivity with the Molstar viewer: default, using contacts
                    and using 1D features.  When the map view is loaded, by default, Mapiya uses default as the color choice,
                    which retains the colors displayed in the interaction view. Below, we show an example of the default behavior of Mapiya.
                    Here we show two RRM domains in complex with an RNA (PDB ID: <a href="https://www.rcsb.org/structure/2KM8">2KM8</a>) in the map view with default coloring.
                    The three chains are coloured same as in the diagram view.
                    <div><img class="img-fluid" src="{% static 'img/Interaction_of_Map_with_molstar3.jpg' %}"/></div>
                    The <i class="sc">Using contacts</i> option will only color the residues which are selected based on the cutoff value.
                    All the other residues are grayed out when this option is selected. Below we show the contacts between the
                    two RRM domains at a cutoff distance of 8 Å.
                    <div><img class="img-fluid" src="{% static 'img/Interaction_of_Map_with_molstar4.png' %}"/></div>
                    When the <i class="sc">Interaction filter</i> option is used to filter the contacts based on structural and physicochemical
                    parameters, this option colors only those residues which are selected by the option.  For example, here we
                    show the contacts between the two RRM domains filtered by setting the <i class="sc">Interaction filter</i> to <i class="sc">Hydropathy</i>
                    and setting the <i class="sc">Interactive structure coloring</i> to <i class="sc">Using contacts</i> option.
                    <div><img class="img-fluid" src="{% static 'img/Interaction_of_Map_with_molstar5.png' %}"/></div>
                    The <i class="sc">Using 1D features</i> under the <i class="sc">Interactive structure coloring</i> option allows us to color the residues
                    in the molstar viewer based on the option selected in the <i class="sc">Display 1D data along the sequence</i> drop-down menus.
                    Here, we illustrate the coloring by using the <i class="sc">Composition</i> option selected on both X-axis and Y-axis features options.
                    When the map view is showing  intramolecular  only one parameter can be used to color the chain.
                    <div><img class="img-fluid" src="{% static 'img/Interaction_of_Map_with_molstar6.png' %}"/></div>
                </h5>
           </section></li>
            <li><section class=section-sub id="Text">
                <h4><b>3.6. Downloading data in text format</b></h4>
                <h5>All the data generated can be downloaded in text format. The location of the download section is shown in the Figure below.
                    <div><img id=img-text class="img-fluid" src="{% static 'img/about-text.png' %}"/></div>
                </h5>
           </section></li>
        </ul>
    </section>
    <section class=section-main id="Case">
        <h3><b>4. Case studies</b></h3>
        <ul class="list-unstyled">
            <li><section class=section-sub id="Polymerase">
                <h4><b>4.1. Human DNA polymerase</b></h4>
                <h5>The selected example shows the Mapiya results for a Human DNA polymerase beta complexed with gapped DNA (PDB: <a href="https://www.rcsb.org/structure/1bpy">1BPY</a>).
                    <br>The MapView presents the intermolecular contact map (<i class="sc">CM</i> mode) between protein chain A (protein-A, on the X-axis)
                    and DNA strand T (nucleic-T, on the Y-axis). Gray points on the map (left panel) are contacts identified below the distance
                    cutoff of 8.0 A. From these, contacts stabilized by attractive electrostatic interactions (A, marked in red-purple palette)
                    were selected using an <i class="sc">Interaction filter</i>. More specifically, we want to see which contacts are bound by the salt bridge.
                    Therefore, we selected <i class="sc">Charged</i> from the options available for protein-A (feature for the X-axis) in the <i class="sc">Display 1D data</i>
                    section of settings. The bar-chart displayed on the top of the Contact Map shows the pattern of positively (light blue) and
                    negatively (dark blue) charged amino acids along the sequence of protein-A. Since nucleic acid is strongly negatively charged,
                    salt bridges can be formed with positively charged amino acids such as Arg, Lys, and His.
                    <br>For a better view, we zoomed the interactive graph to the 225-305 fragment along the protein-A sequence.
                    We found an isolated contact between ARG:258 and DG:9 (marked with a black dot).
                    <div><img class="img-fluid" src="{% static 'img/about-map1.png' %}"/></div>
                    Clicking on a selected point invokes two actions:
                    <ul>
                        <li>displays an interactive label with details describing the contact (residues identifiers, distance, possible interaction forces),</li>
                        <li>automatically zooms the Mol* Viewer window (right panel) on the residues that are in contact, revealing the atomic details of the interaction.</li>
                    </ul>
                </h5>
           </section></li>
            <li><section class=section-sub id="TRAP-RNA">
                <h4><b>4.2. TRAP-RNA complex</b></h4>
                <h5>This case study illustrates some interaction features of the complex between trp RNA-binding attenuation
                    protein (TRAP) and RNA (PDB ID: <a href="https://www.rcsb.org/structure/1c9s">1C9S</a>).  TRAP is a central regulator in the expression of tryptophan biosynthetic genes
                    (Ref: <a href="https://doi.org/10.1111/j.1365-2958.1994.tb00377.x">Gollnick, P. (1994)</a>) and binds to single-stranded RNA
                    (Ref: <a href="https://doi.org/10.1016/S0021-9258(19)89431-0">Babitzke, P., et al. (1994)</a>). The TRAP protein disk
                    consists of eleven identical protein chains bound to a single 55-mer RNA molecule (Ref: <a href="https://doi.org/10.1038/374693a0">Antson, A. A., et al.(1999)</a>).
                    The asymmetric unit of the crystal structure consists of two copies of the TRAP disk with only one bound to RNA.
                    The interaction diagram view generated by Mapiya shows that each protein chain in the assembly interacts with the RNA
                    molecule and two adjacent protein chains (see Figure below).
                    <div><img class="img-fluid" src="{% static 'img/TRAP1.png' %}"/></div>
                    Each protein chain in the TRAP disk makes contacts with two adjacent protein chains, one on either side and the RNA
                    chain. Here, we highlight the contacts made by chains L and M in the assembly (see figure below). The various options
                    selected to generate the map-view are highlighted with red boxes on the basic settings menu available on the interaction
                    map view.
                    <div><img class="img-fluid" src="{% static 'img/TRAP2.png' %}"/></div>
                    The Interaction map shows contacts between two adjacent protein chains in the TRAP disk, within a distance cutoff 5 Å,
                    filtered with the <i class="sc">Hydropathy</i> filter in Mapiya. The interacting residues are colored on the three-dimensional structure
                    rendered using Molstar viewer, with the respective colors from the map view. The color scale used by Mapiya to represent
                    the hydropathy index: hydrophobic (Φ) amino acids (Gly, Ala, Leu, Ile, Val, Pro, Phe), the amphipathic (ɤ) amino acids
                    (Trp, Tyr, Met, Lys), the hydrophilic (ζ) amino acids (Arg, Asn, Asp, Gln, Glu, His, Ser, Thr, Cys), the hydrophobic (Φ)
                    amino acids (Gly, Ala, Leu, Ile, Val, Pro, Phe) and the hydrophilic (ζ) amino acids (Arg, Asn, Asp, Gln, Glu, His, Ser,
                    Thr, Cys).
                    <br>The RNA molecule consists of 5-mer repeats of GAUGA. It has an extended structure in the complex without any
                    base-pairing, with similar three-dimensional structures interacting with the different protein chains. The binding of
                    RNA to TRAP protein is through specific protein-nucleobase interactions with GAG triplets accommodated in a pocket
                    formed by beta-strands. This pocket can be visualized using Mapiya by selecting the <i class="sc">2º structure</i> option available in
                    <i class="sc">Display 1D data along the sequence</i> and setting the <i class="sc">Interactive structure coloring</i> to <i class="sc">Using 1D features</i>
                    (see panels A, B in figure above). The residues that make the contact between the protein and RNA can be highlighted
                        by setting the <i class="sc">Interactive structure coloring</i> to <i class="sc">Using contacts</i> (see panel C in figure below).
                    <div><img class="img-fluid" src="{% static 'img/TRAP3.png' %}"/></div>
                </h5>
           </section></li>
            <li><section class=section-sub id="RNA-dep">
                <h4><b>4.3. RNA-dependent polymerase (RdRp)</b></h4>
                <h5>The use of Mapiya in understanding the structural mechanisms of the biological process can be further
                    illustrated with the example of RNA-dependent RNA polymerase (RdRp) (PDB ID: <a href="https://www.rcsb.org/structure/6yyt">6YYT</a>). The active form of
                    RNA-dependent RNA polymerase (RdRp) from SARS-CoV-2 mimics the replication enzyme. In this example, the
                    macromolecular assembly consists of the viral non-structural protein 12 (nsp12), nsp8, and nsp7, along with more
                    than two turns of RNA template-product duplex (Ref: <a href="https://doi.org/10.1038/s41586-020-2368-8">Hillen, H. S., et al. (2020)</a>) (see figure below).
                    <div><img class="img-fluid" src="{% static 'img/RDRP1.png' %}"/></div>
                    The nsp12 acts as the catalytic unit in the replication of RNA molecules and the catalytic core is
                    composed of conserved hydrophobic regions (Refs: <a href="https://dx.doi.org/10.1007%2Fs00705-012-1404-x">Ahn, D. G., et al. (2012)</a>, <a href="https://doi.org/10.1038/s41467-019-10280-3">Kirchdoerfer, R. N., and Andrew B. W (2019)</a>)
                    (see panel A in figure below). The map diagram view was generated by selecting the <i class="sc">Hydrophobic</i> option available in
                    <i class="sc">Display 1D data along the sequence</i> and setting the <i class="sc">Interactive structure coloring</i> to <i class="sc">Using 1D features</i>.
                    The hydrophobic contacts between the nsp12 and RNA are visualized using Mapiya by selecting the <i class="sc">Hydrophobic</i>
                    option available under <i class="sc">Interaction filter</i>  and setting the <i class="sc">Interactive structure coloring</i> to <i class="sc">Using contacts</i>.
                    Two copies of nsp8 bind to opposite sides of the cleft and help in the positioning of the RNA. The long protruding
                    helical extensions in nsp8 contain patches of positively charged regions that act as sliding poles for the exit of RNA
                    (see panel B in figure below), which is essential for the RdRp to process the long genome of SARS-CoV-2 (Ref: <a href="https://doi.org/10.1016/j.bpj.2021.06.006">Wilamowski, M., et al. (2021)</a>).
                    The non-structural protein 8 (nsp8) helps in the processing of RNA by positioning it in RdRp. The long helical protruding regions
                    in the nsp8 contain patches of positively charged regions that act as sliding poles for the exit of RNA. The sliding poles on the
                    nsp8 are visualized in the interaction map view by selecting the <i class="sc">Charged</i> option available in <i class="sc">Display 1D data along the sequence</i>
                    and setting the <i class="sc">Interactive structure coloring</i> to <i class="sc">Using 1D features</i>. The electrostatic interactions are visualized by setting
                    the <i class="sc">Electrostatic</i> option available under <i class="sc">Interaction filter</i> and setting the <i class="sc">Interactive structure coloring</i> to <i class="sc">Using contacts</i>.
                    <div><img id="img-rdrp2" class="img-fluid" src="{% static 'img/RDRP2.png' %}"/></div>
                </h5>
           </section></li>
        </ul>
    </section>
    <section class=section-main id="Hints">
        <h3><b>5. Mapiya analysis hints and protocols</b></h3>
        <h5>Here we provide some additional information on how to better utilize Mapiya.</h5>
        <ul class="list-unstyled">
            <li><section class=section-sub id="Chains">
                <h4><b>5.1. Renaming or merging biomolecule chains</b></h4>
                <h5>The current version of Mapiya was designed to visualize and analyze the interactions between individual biomolecules,
                    separate protein or nucleic acid chains. In some cases, instead of visualizing the interactions between every pair of chains,
                    users may be interested in visualizing the interactions between a set of chains (e.g. double stranded DNA, or a set of protein chains)
                    and another biomolecule. This may be possible by linking the appropriate chains first using external software (also changing the residue
                    numbering may be necessary). Below we provide a python script that may be helpful for that purpose.
                    <br><a href="https://bitbucket.org/lcbio/mapserver/downloads/rename_chains.py">https://bitbucket.org/lcbio/mapserver/downloads/rename_chains.py</a>
                    <br>USAGE:
                    <br>python rename_chains.py [-h] -f INPUT [-cho CHO] [-chn CHN] [-o OUT]
                    <br>e.g., python rename_chains.py -f input.pdb -cho A,B -chn C,D -o output.pdb
                    <br>Options:
                    <ul>
                      <li>-h, print help</li>
                      <li>-f, input file in the PDB format (can be multi-model)</li>
                      <li>-cho, list of selected chain ids, separated by a comma (e.g., A,B,C) that will be changed</li>
                      <li>-chn, list of new chain ids, separated by a comma (e.g., D,D,D)</li>
                      <li>-o, name of the output file</li>
                    </ul>
                    The other tools that might be helpful with this task include:
                    <ul>
                        <li><a href="https://www.canoz.com/sdh/renamepdbchain.pl">renamepdbchain.pl</a></li>
                        <li><a href="https://github.com/haddocking/pdb-tools">pdb-tools</a></li>
                        <li><a href="https://www.gromacs.org/">GROMACS</a> with command: gmx editconf -f file-in.pdb -o file-out.pdb -resnr [residue number from with to start renumbering] -label [chain id to renumber]</li>
                    </ul>
                </h5>
            </section>
            </li>
        </ul>
    </section>
    </div>
</div>
{% endblock content %}

