<div class="help-wrapper">
    <div class="alert alert-primary shadow">
        <div class="alert-heading">1. Select Options</div><hr>
        This section allows you to select the basic parameters of the structure analysis to be performed.
        If you are not sure which options to select, leave them at their default settings.
        Note that invoking additional calculations may increase the calculation time.
    </div>
    <div class="alert alert-secondary shadow">
        <div class="alert-heading">2. Fix Structure</div><hr>
        This section allows you to repair or modify the structure using PDBfixer.
        You can add missing atoms, residues, loops or convert non-standard residues to their standard equivalents.
    </div>
    <div class="alert alert-warning shadow">
        <div class="alert-heading">3. Biological Assembly</div><hr>
        This section enables reconstruction of the biological assembl(y/ies) using the information in the input file
        PDB ('REMARK 300 and 'REMARK 350'). More information is provided in the About section.
    </div>
    <div class="alert alert-danger shadow">
        <div class="alert-heading">4. Upload file</div><hr>
	    Finally you can upload your files by dropping them into the dropbox, or you can download a structure from the
        Protein Data Bank. PDB file format is required.
    </div>
</div>

<style>
.help-wrapper{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
    padding: 1rem 2rem;
}

.alert-heading {
    font-family: var(--fancy-font);
    font-weight: 700;

}
</style>
