<div class="help-wrapper">
    <div class="alert alert-primary">
        <div class="alert-heading">
            1. File upload
        </div>
        <hr>
        {% lorem %}
    </div>
    <div class="alert alert-secondary">
        <div class="alert-heading">
            2. General options
        </div>
        <hr>
        {% lorem %}
    </div>
    <div class="alert alert-danger">
        <div class="alert-heading">
            3. PDBfixer
        </div>
        <hr>
        {% lorem %}
    </div>
</div>

<style>
.help-wrapper{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
    padding: 1rem 2rem;
}

.alert-heading {
    font-family: "Bowlby One SC", sans-serif;

}
</style>