{% extends 'base.html' %}
{% load static %}
{% load django_tables2 %}
{% load crispy_forms_tags %}

{% block css %}
    {{  block.super }}
    <link rel="stylesheet" href="{% static 'vendors/dropzone-5.7.0/dist/dropzone.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/options-form.css' %}">
{% endblock css %}

{% block content %}
<div class="content-wrapper">
    <div class="column-wrapper">
        <div class="form-container">
            {% crispy options_form %}
        </div>

        <hr style="border: 1px solid rgba(0, 0, 0, 0.1)"/>

        <div class="dropzone-container">
            <form method="post" action="{% url 'home' %}" id="dropzone" class="dropzone">
                {% csrf_token %}
            </form>
            <div class="text-center">or</div>
            <a href="{% url 'rcsb' %}" class="btn btn-primary btn-block" data-toggle="modal" data-target="#modal">
                Download structure from the <strong>rcsb.org</strong>
            </a>
        </div>
    </div>
    <div class="column-wrapper">
        <div class="table-wrapper">
            {% if table.rows %}
                <p class="table-heading">Your files:</p>
                {% render_table table %}
            {% else %}
                {% include 'help.html' %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
    {{ block.super }}
    <!-- Dropzone.js -->
    <script src="{% static 'vendors/dropzone-5.7.0/dist/dropzone.js' %}"></script>
    <script src="{% static 'js/modal.js' %}"></script>
    <script src="{% static 'js/home.js' %}"></script>

    <script defer>
        initOptionsForm();
        initMapTable();
    </script>
{% endblock %}
