{% extends 'base.html' %}
{% load static %}
{% load django_tables2 %}
{% load crispy_forms_tags %}

{% block css %}
    {{  block.super }}
    <link rel="stylesheet" href="{% static 'vendors/dropzone-5.7.0/dist/dropzone.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock css %}

{% block content %}
    {% include 'modal.html' %}
    <div class="container-fluid col-10 offset-1">
        <div class="row py-lg-5">

            <div class="dropzone-container col-xl-6 d-flex flex-column justify-content-between">
                <form method="post" action="{% url 'home' %}" id="dropzone"
                      class="dropzone shadow flex-grow-1 d-flex flex-column justify-content-center">
                    {% csrf_token %}
                </form>
                <div>
                    <h5 class="text-muted text-center my-3">or</h5>
                    <div class="btn-group btn-block">
                        <a href="{% url 'rcsb' %}" class="btn btn-primary" data-toggle="modal" data-target="#modal">
                            Download structure from the RCSB.org
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-xl-6">
                {% crispy options_form %}
            </div>

        </div>

        <div class="table-responsive">
            <h5 class="text-muted">Your files:</h5>
            {% if table.rows %}
                {% render_table table %}
            {% else %}
                <div class="alert alert-danger">
                    Drag and drop pdb files or use the link above to download structure from the RCSB.org
                </div>
            {% endif %}
        </div>

    </div>

{% endblock content %}

{% block js %}
    {{ block.super }}
    <!-- Dropzone.js -->
    <script src="{% static 'vendors/dropzone-5.7.0/dist/dropzone.js' %}"></script>
    <script src="{% static 'js/modal.js' %}"></script>
    <script src="{% static 'js/home.js' %}"></script>

    <script defer>
        initOptionsForm();
    </script>
{% endblock %}
