{% extends 'base.html' %}
{% load static %}
{% load django_tables2 %}
{% load plotly_dash %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/pdbe-molstar-light-1.2.0.css' %}">
    <link rel="stylesheet" href="{% static 'css/mapview.css' %}">
{% endblock css %}

{% block content %}
    {% include "logs-modal.html" %}

    <div class="content-wrapper">
        <div class="app-container" id="plotlyViewport">
            {% plotly_app name="ContactMap" initial_arguments=plotly ratio=0.95 %}
        </div>

        <div class="app-container" id="molStarViewport"></div>
    </div>

    <button class="btn btn-danger" id="logs_btn" data-toggle="modal" data-target="#modal-logs">Show logs</button>
{% endblock content %}

{% block js %}
    {{ block.super }}

    <!-- Molstar -->
    <script src="{% static 'js/pdbe-molstar-plugin-1.2.0.js' %}"></script>
    <script src="{% static 'js/molstar.js' %}"></script>
    <script>
        let viewerInstance = initMolStarViewer('molStarViewport', '{{object.pk}}');
        process_events(viewerInstance, '{{object.pk}}');
    </script>
{% endblock js %}
