{% extends 'base.html' %}
{% load static %}
{% load django_tables2 %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/pdbe-molstar-light-1.1.0.css' %}">
{% endblock css %}

{% block content %}
    <div class="row viewport-container">
        <div class="col-xl-6">
          <div class="plotly-app">
            {% load plotly_dash %}
            {% plotly_app name="ContactMap" initial_arguments=plotly %}
          </div>
        </div>
        <div class="col-xl-6">
            <div class="molStarViewport" id="molStarViewport"></div>
        </div>
    </div>
{% endblock content %}

{% block js %}
    {{ block.super }}

    <!-- Molstar -->
    <script src="{% static 'js/pdbe-molstar-plugin-1.1.0.js' %}"></script>
    <script src="{% static 'js/molstar.js' %}"></script>
    <script>
        let viewerInstance = initMolStarViewer('{{ object.molstar_url }}', 'molStarViewport');
        var selectSections = generateChainColourPairs();
        viewerInstance.visual.select(
        {
            data: selectSections,
            nonSelectedColor: 
            {
                r:255,
                g:255,
                b:255
            }
        });

        

        $("rect", $("iframe").get(0).contentDocument).click(function() 
        {
            var dataFromPlotly = new getClickMapFromPlotly();
            var click_map = JSON.parse(dataFromPlotly.click_map.value);
            alert(click_map["res1"] + " " + click_map["res2"]);
            var selectSections = generateSelection(dataFromPlotly.click_map);
            viewerInstance.visual.select({ data: selectSections, nonSelectedColor: {r:255,g:255,b:255}});
        });

    </script>
{% endblock js %}
