<header class="topnav">

    <nav class="navbar navbar-expand-lg">
        <a href="{% url 'home' %}" class="navbar-brand d-flex">
            {% include 'logo.html' %}
            <span class="brand-text ml-3">Mapiya</span>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="topNavbar">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Help</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="usermenu">
        {% if user.is_authenticated %}
            {% include 'user-menu.html' %}
        {% else %}
            <a href="{% url 'login' %}" class="text-dark">Login / Register</a>
        {% endif %}
    </div>
</header>

<style>
.brand-text {
    font-family: 'Bowlby One SC', cursive;
    color: var(--dark);
    font-size: 1.5rem;
}

#topNavbar a {
    color: var(--dark);
    font-weight: 600;
}

</style>