<div class="dropdown">
    <a data-toggle="dropdown" style="cursor: pointer">
        <i class="far fa-user"></i>
    </a>
    <!-- Dropdown -->
    <ul class="dropdown-menu dropdown-menu-right py-0">
        <li class="dropdown-header">
            {{ user }}
        </li>
        <li class="dropdown-item">
            <a href="#"><i class="far fa-user"></i>Profile</a>
        </li>
        <li class="dropdown-item">
            <a href="/admin"><i class="far fa-sun"></i>Settings</a>
        </li>
        <li class="dropdown-divider my-0"></li>
        <li class="dropdown-item bg-danger text-white">
            <a class=" text-white" href="{% url 'logout' %}"><i class="far fa-share-square"></i>Sign out</a>
        </li>
    </ul>
</div>

<style>
.dropdown-menu a {
    color: var(--dark);
    text-decoration: none;
}

.dropdown-menu i {
    min-width: 1.5rem;
}
</style>