{% extends "mapserver/base_site.html" %}

{% block title %} Project Details {% endblock title %}


{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h4>Map for: {{ object }}</h4>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-lg-6 col-md-4 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Map</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Settings 1</a>
                                        </li>
                                        <li><a href="#">Settings 2</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>

                        <div class="x_content">
                            <div id="chartViewport" style="height: 600px"></div>
                            <hr/>
                            <div class="x_panel">
                            <button class="glyphicon glyphicon-fullscreen" id="lenMap"> Contact/Distance</button>
                            <button class="glyphicon glyphicon-eye-close" id="closeRep3"></button>
                            <input id="slider" type="range" min="1" max="15" value=defaultCutoff step="1"/>
                            </div>
                        <div class="x_panel">
                            <select id="selectLabelStyle">
                                <option value="atomname">Atomname</option>
                                <option value="atomindex" selected>Atomindex</option>
                                <option value="occupancy">Occupancy</option>
                                <option value="bfactor">Bfactor</option>
                                <option value="serial">Serial</option>
                                <option value="element">Element</option>
                                <option value="atom">Atom</option>
                                <option value="resname">Resname</option>
                                <option value="resno">Resno</option>
                                <option value="res">Res</option>
                                <option value="qualified">Qualified</option>
                            </select>
                            <button class="glyphicon glyphicon-eye-close" id="closeLabels"></button>
                            <input id="inputLabelSelection" name="name" value="all"><br>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-8 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Viewer</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Settings 1</a>
                                        </li>
                                        <li><a href="#">Settings 2</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>

                        <div class="x_content">
                            <div id="viewport" style="height: 600px"></div>
                            <hr/>
                            <div class="x_panel">
                            <select id="selectRepStyle1">
                                <option value="axes">Axes</option>
                                <option value="backbone">Backbone</option>
                                <option value="ball+stick">ball+stick</option>
                                <option value="base">Base</option>
                                <option value="cartoon" selected>Cartoon</option>
                                <option value="contact">Contact</option>
                                <option value="distance">Distance</option>
                                <option value="helixorient">Helixorient</option>
                                <option value="hyperball">Hyperball</option>
                                <option value="licorice">Licorice</option>
                                <option value="line">Line</option>
                                <option value="point">Point</option>
                                <option value="ribbon">Ribbon</option>
                                <option value="rocket">Rocket</option>
                                <option value="rope">Rope</option>
                                <option value="spacefill">Spacefill</option>
                                <option value="surface">Surface</option>
                                <option value="trace">Trace</option>
                                <option value="tube">Tube</option>
                                <option value="unitcell">Unitcell</option>
                                <option value="validation">Validation</option>
                            </select>
                            <button class="glyphicon glyphicon-eye-close" id="closeRep1"></button>
                            <input id="inputRepStyle1" name="name" value="all">
                            <select id="coloringMethod1">
                                <option value="atomname">Atomname</option>
                                <option value="atomindex">Atomindex</option>
                                <option value="occupancy">Occupancy</option>
                                <option value="bfactor">Bfactor</option>
                                <option value="serial">Serial</option>
                                <option value="element" selected>Element</option>
                                <option value="atom">Atom</option>
                                <option value="resname">Resname</option>
                                <option value="resno">Resno</option>
                                <option value="res">Res</option>
                                <option value="qualified">Qualified</option>
                            </select>
                            </div>
                            <div class="x_panel">
                            <select id="selectRepStyle2">
                                <option value="axes">Axes</option>
                                <option value="backbone">Backbone</option>
                                <option value="ball+stick">ball+stick</option>
                                <option value="base">Base</option>
                                <option value="cartoon">Cartoon</option>
                                <option value="contact">Contact</option>
                                <option value="distance">Distance</option>
                                <option value="helixorient">Helixorient</option>
                                <option value="hyperball">Hyperball</option>
                                <option value="licorice" selected>Licorice</option>
                                <option value="line">Line</option>
                                <option value="point">Point</option>
                                <option value="ribbon">Ribbon</option>
                                <option value="rocket">Rocket</option>
                                <option value="rope">Rope</option>
                                <option value="spacefill">Spacefill</option>
                                <option value="surface">Surface</option>
                                <option value="trace">Trace</option>
                                <option value="tube">Tube</option>
                                <option value="unitcell">Unitcell</option>
                                <option value="validation">Validation</option>
                            </select>
                            <button class="glyphicon glyphicon-eye-close" id="closeRep2"></button>
                            <input id="inputRepStyle2" name="name" value="ligand">
                            <select id="coloringMethod2">
                                <option value="atomname">Atomname</option>
                                <option value="atomindex">Atomindex</option>
                                <option value="occupancy">Occupancy</option>
                                <option value="bfactor">Bfactor</option>
                                <option value="serial">Serial</option>
                                <option value="element" selected>Element</option>
                                <option value="atom">Atom</option>
                                <option value="resname">Resname</option>
                                <option value="resno">Resno</option>
                                <option value="res">Res</option>
                                <option value="qualified">Qualified</option>
                            </select>
                            </div>
                            <div class="x_panel">
                            <button class="glyphicon glyphicon-fullscreen" id="fullscreen"> Fullscreen</button>
                            <button class="fa fa-circle-o-notch" id="toggleSpin"> spin on/off</button>
                            <input type="color" id="toggleTheme" name="toggleColor" value="#ffffff">
                            <button class="fa fa-dot-circle-o" id="resetView"> Center</button>
                            <button class="fa fa-dot-circle-o" id="rysujemy"> rysujemy</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}

{% block javascripts %}
    {{ block.super }}

    <!-- NGLviewer -->
    <script src="https://unpkg.com/ngl"></script>

    <!-- Highcharts -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/maps/modules/map.js"></script>
    <script src="https://code.highcharts.com/maps/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/offline-exporting.js"></script>
    <script src="https://code.highcharts.com/modules/heatmap.js"></script>
    <script src="https://code.highcharts.com/modules/boost.js"></script>


    <script>
        $(document).ready(function () {
            init_map_detail('{{ object.pdb.url }}', '{% url 'map-data' object.pk %}');
        });
    </script>
{% endblock javascripts %}
