{% extends 'mapserver/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-xl-6">
            <div id="chartViewport"></div>
        </div>
        <div class="col-xl-6">
            <div id="viewport"></div>
        </div>
    </div>
{% endblock content %}

{% block js %}
    {{ block.super }}

    <!-- NGLviewer -->
    <script src="https://unpkg.com/ngl"></script>

    <!-- Highcharts -->
    <script src="https://code.highcharts.com/highcharts.js" ></script>
    <script src="https://code.highcharts.com/maps/modules/map.js"></script>
    <script src="https://code.highcharts.com/maps/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/offline-exporting.js"></script>
    <script src="https://code.highcharts.com/modules/heatmap.js"></script>
    <script src="https://code.highcharts.com/modules/boost.js"></script>

    <script>
        $(document).ready(function () {
            init_map_detail('{{ object.pdb.url }}', '{% url 'map-data' object.pk %}');
        });
    </script>

{% endblock js %}
