{% extends 'mapserver/base.html' %}
{% load static %}
{% load django_tables2 %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 viewport-container">
          <div class="plotly-app">
            {% load plotly_dash %}
            {% plotly_app name="ContactMap" initial_arguments=plotly %}
          </div>
        </div>
        <div class="col-lg-6 viewport-container">
            <div id="nglViewport">
                <div class="ngl-menu">
                    <label class="text-muted" id="nglMenuIcon">
                        <i class="h3 fas fa-angle-double-left"></i>
                    </label>
                    {% render_table table %}
                </div>
                <div class="ngl-bottom-menu">
                    <div class="d-flex justify-content-center">
                        <div class="btn btn-group">
                            <label class="btn btn-outline-secondary border-0" id="fullScreen">
                                <i class="fas fa-expand-arrows-alt"></i>
                                <span class="d-none d-md-inline">Full screen</span>
                            </label>
                            <label class="btn btn-outline-secondary border-0" id="toggleSpin">
                                <i class="fas fa-circle-notch"></i>
                                <span class="d-none d-md-inline">Spin</span>
                            </label>
                            <label class="btn btn-outline-secondary border-0" id="center">
                                <i class="fas fa-dot-circle"></i>
                                <span class="d-none d-md-inline">Center</span>
                            </label>
                            <label class="btn btn-outline-secondary border-0" id="colorPicker">
                                <i class="fas fa-fill-drip"></i>
                                <span class="d-none d-md-inline">Background color</span>
                                <input type="color" class="color-picker"/>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/heatmap.js"></script>
    <script src="https://code.highcharts.com/modules/boost.js"></script>

    {{ block.super }}

    <!-- NGLviewer -->
    <script src="{% static 'js/ngl.js' %}"></script>

    <script>
        initNGL("{{ object.pdb.url }}", "nglViewport");
<!--        initChart("{{ object.pk }}", "chartViewport"); to be removed --> 
    </script>
{% endblock js %}

