.hoverable {
    width: 24px;
    height: 22px;
/*  transition: width 0.2s, height 0.2s;*/
    background-image: url(../img/menu.jpeg);
    background-size: 100% 100%;
    position: absolute;
    z-index: 10;
}

.hoverable:hover {
    width: 96%;
    height: 12vh;
    background: #272727;
    opacity: 0.98;
    border-radius: 5px 5px 5px 5px;
    background-image: none;
}

.hoverable .content {
    visibility: hidden;
    display: none;
}

.hoverable:hover .content {
    visibility: visible;
    display: inline-block;
}

.hovertext {
    background-color: #eeece7;
    color: #63533c;
    transition: width 0.2s, height 0.2s;
    cursor: pointer;
    height: 4vw;
    width: 4vw;
    border: 0;
    margin-bottom: 0.4vh;
    font-size: 3vh;
    margin: 0 0.5vw 0 0;
    padding: 0.2vh 0;
}

.hovertext:hover {
    color: #ae6100;
    border: 1px;
}