@import "normalize.css";
@import "fonts.css";

:root {
    --topnav-color: #3c4b64;
    --fancy-font: 'IBM Plex Sans', sans-serif;
}

body {
    font-family: Lato, sans-serif;
    background-color: #f8f9fa;
}

.asteriskField {
    display: none;
}

.content-container {
    min-height: calc(100vh - 5rem);
}