@font-face {
  font-family: Ubuntu;
  src: url('../fonts/Ubuntu/Ubuntu-Regular.ttf');
}

body {
    font-family: Ubuntu, sans-serif;
}

li.nav-item.active {
    font-weight: bold;
}

.asteriskField {
    display: none;
}