@font-face {
  font-family: Ubuntu;
  src: url('../fonts/Ubuntu/Ubuntu-Regular.ttf');
}

body {
    font-family: Ubuntu, sans-serif;
}

li.nav-item.active {
    font-weight: bold;
}

.asteriskField {
    display: none;
}

form.dropzone {
    background-color: rgba(0, 123, 247, 0.2);
    border-style: dashed;
    border-radius: 10px;
    font-size: x-large;
}