body {
    background-color: #fff;
}

.content-wrapper {
    background-color: #fff;
    display: flex;
}

.app-container {
    flex-grow: 1;
    position: relative;
}

#plotlyViewport {
    padding: 1rem;
}

@media only screen and (max-width: 1023px) {
    .content-wrapper {
        flex-direction: column;
    }

    .msp-plugin {
        min-height: 100vh;
    }
}

.msp-plugin-content {
    border: none!important;
}

#logs_btn {
    position: fixed;
    bottom: 5%;
    left: 1%;
    z-index: 100
}